.gradle/
.idea/
application/build/
list/build/
utilities/build/
usb/build/
buildSrc/build/
usbMiddle/build/
usbdb/build/
nativeResources/build/
usbGui/build/
usbDb/build/
libusb4java.so
libusb4java.dll
nativeResources/src/main/resources/org/
usbIds.db
*.db
*.db-journal
build/reports/problems/problems-report.html

